body {
    padding: 20px 30px 40px 30px;
}

#page-content-wrapper {
    margin: 0 auto;
    max-width: 1080px;
}
#masthead{
	background-color: darkslategray; color: whitesmoke; display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px; margin-bottom: 30px; padding-top: 50px; padding-bottom: 30px; text-align: center; width: 100%;
}