body {
    padding: 20px 30px 40px 30px;
}

#page-content-wrapper {
    margin: 0 auto;
    max-width: 1080px;
}
.mastheadm, .help-page-header{
	background-color: darkslategray; 
	color: whitesmoke; 
	display: block; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 line-height: 20px; 
	 margin-bottom: 30px; 
	 padding-top: 50px; 
	 padding-bottom: 30px; 
	 text-align: center; 
	 width: 100%;
}
.home-container {
	border-left-color: #ccc; border-left-style: solid; border-left-width: 1px; border-right-color: #ccc; border-right-style: solid; border-right-width: 1px; border-bottom-color: #ccc; border-bottom-width: 1px; border-bottom-style: solid; border-top-color: #ccc; border-top-style: solid; border-top-width: 1px; font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin-bottom: 18px; margin-top: 18px; padding-bottom: 16px; padding-left: 0; padding-right: 0; width: 100%;
}